@import 'animations';

main {
    height: 100%;
    display: flex;
    
    .content {
        height: 100%;
        width: 60%;
        background: url('../images/bg-pattern-desktop.svg') no-repeat, linear-gradient($gradientDeg, $gradientPrimary, $gradientSecundary) no-repeat, linear-gradient($gradientDeg, $gradientTerciary, $gradientFourtuary) no-repeat;
        background-size: 100% 100%;

        &__logo {
            position: absolute;
            transform: translate(11.75vw, 7.5vh);
        }

        &__inner {
            display: flex;
            justify-content: center;
            height: 100%;
            width: 60%;
            margin: 0 auto;
            flex-direction: column;

            &__title {
                font-weight: $fontWeightSecundary;
                text-transform: uppercase;
                letter-spacing: 1rem;
                font-size: 4.25rem;
                line-height: 4.5rem;
                margin: 5rem 0 1rem 0;

                &__span {
                    font-weight: $fontWeightTerciary;
                    color: $fontSecundary;
                }
            }

            &__p {
                margin: 0 0 2rem 0;
            }

            &__form {
                display: flex;
                height: 7.5%;

                &-input {
                    width: 100%;
                    padding: 0 2rem;
                    border-radius: 2rem;
                    border: 1px $fontPrimary solid;
                    background-color: transparent;

                    @include transition(.5s);

                    &:focus{
                        outline: none;
                    }

                    &:invalid {
                        border: 0.15rem solid $formError;
                        background: url('../images/icon-error.svg');
                        background-size: 5%;
                        background-position: 25vw center;
                        background-repeat: no-repeat;

                        @include transition(.5s);
                    }

                    &::placeholder{
                        color: $fontPrimary;
                    }

                    &::-webkit-input-placeholder {
                        color: $fontPrimary;
                    }

                    &::-moz-placeholder {
                        color: $fontPrimary;
                    }

                    &::-ms-input-placeholder {
                        color: $fontPrimary;
                    }
                }

                button[type="submit"] {
                    background: linear-gradient(135deg, rgb(248 191 191), rgb(238 140 140)) no-repeat;
                    background-color: $gradientTerciary;
                    width: 7.5%;
                    height: 7.5%;
                    right: 52%;
                    border-radius: 2rem;
                    position: absolute;
                    border: none;
                    cursor: pointer;
                    box-shadow: 0 0.5rem 1rem rgba($fontPrimary, $alpha: 0.5);

                    @include transition(.5s);

                    &:hover {
                        background: $gradientTerciary;
                        box-shadow: 0 0.75rem 1.25rem rgba($fontPrimary, $alpha: 0.75);

                        @include transition(.5s);
                    }

                    &:focus{
                        outline: none;
                        border: none;
                    }
                }
            }

            &__arrow {
                align-items: center;
                display: flex;
                margin: 0 auto;
            }
        }
    }

    .bg {
        background: url('../images/hero-desktop.jpg') no-repeat;
        background-size: cover;
        width: 40%;
    }
}

footer {
    position: absolute;
    bottom: 0;
    left: 22.5vw;
    text-align: center;

    h6, p {
        font-weight: $fontWeightSecundary;
    }

    a {
        color: $fontSecundary;
        text-decoration: none;
        font-weight: $fontWeightTerciary;

        @include transition(.5s);


        &:hover {
            color: $formError;
        
            @include transition(.5s);
        }
    }

    .wavy {
        text-decoration: wavy underline;
    }
}