/*

                                            FONTS

*/

$fontPrimary: hsl(0, 36%, 70%);
$fontSecundary: hsl(0, 6%, 24%);
$fontFamily: "Josefin Sans";
$fontSize: 16px;
$fontWeightPrimary: 400;
$fontWeightSecundary: 300;
$fontWeightTerciary: 600;

/*

                                            BODY

*/

$gradientDeg: 135deg;
$gradientPrimary:hsl(0, 0%, 100%);
$gradientSecundary: hsl(0, 100%, 98%);
$gradientTerciary: hsl(0, 80%, 86%);
$gradientFourtuary: hsl(0, 74%, 74%);

/*

                                            OTHERS

*/

$formError: hsl(0, 93%, 68%);